@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@200;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010165;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #010165;
}
img {
  width: 172px;
  height: auto;
}
.header {
  padding: 20px;
  background-color: #00ffff;
  text-align: center;
}
.fa-star {
  color: #00ffff;
  padding: 20px;
}
  .title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
  }
  .instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: 'Poppins', sans-serif;
  }
  .instructions-row {
    margin: 0 auto;
    width: 400px;
  }
  .instructions-number {
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #00ffff;
  }
  .instructions-text {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
  
  .door-row {
    text-align: center;
  }
  
  .door-frame {
    cursor: pointer;
    padding: 20px;
    padding-bottom: 40px;
  }
  
 
.start-row {
  margin: auto;
  margin-bottom: 22px;
  width: 200px;
  
  font-family: "Poppins", sans-serif;
  background-color: #3c5dea;
  color: #ffffff;
  padding: 18px 20px;
  text-align: center;
  cursor: pointer;

  border-radius: 5px;
  border-color: #00ffff;
}
.start-row:hover {
  background-color: #8439f6;
}
footer {
  display: flex;
  color: #00ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
a {
  color: #00ffff;
  text-decoration: none;
}

#contact {
  display: block;
  flex-wrap: wrap;
  text-align: center;
}
.contact-media {
  padding: 20px;
}
.contact-a {
  padding: 20px;
}
.contact-a:hover {
  color: #fff;
  text-decoration-line: underline;
}
.contact-copy {
  color: #aeaeae;
  padding-bottom: 15px;
}
